@import "../../../styles/index.scss";

.dashboardAnalytics.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include maxWidth($breakpointTabletPortrait) {
       margin-bottom: 20px;
    }
}