// Breakpoint
$breakpointMobile: 650px;
$breakpointTabletPortrait: 768px;
$breakpointTabletLandscape: 1024px;


// Fonts
$avenir : 'avenir', arial;


// Color
$grey: #686868;
$grey2: #F7F7F7;
$grey3: #E5E5E5;
$grey05: rgba(68, 68, 68, .5);
$pink: #FF6A7B;
$white: #fff;
$white2: #E1E1E1;
$blue: #1C2CA3;
$blue2: #12CDD4;
$shadow: rgba(223, 223, 223, .5);
$yellow: #FFD25F;
$green: #F1FFF4;
$green2: #79D78F
