@import "../../../styles/index.scss";

.input {
    input {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid $white2;
        padding: 20px 0;
        outline: none;
        margin-bottom: 10px;
        font-size: 16px;

        &::placeholder {
            font-size: 16px;
            color: $grey;
        }
    }
}
