@import "../../../styles/index.scss";

.arrow-back{
    position: absolute;
    top: 50px;
    left: 50px;

    @include maxWidth($breakpointTabletPortrait) {
        top: 30px;
    }

    a {
        display: block;
        width: 18px;
        height: 32px;
        background-image: url('../../../assets/images/arrow-back.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}